<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmu.hrms.mapper.DeptMapper">
    <resultMap id="MyDept" type="com.dmu.hrms.bean.Dept">
        <!--         指定主键列的封装规则  column：指定哪一列 property：指定对于的javaBean属性-->
        <!--        id 定义主键-->
        <id column="id" property="id"/>
        <!--        result 定义普通列封装规则-->
        <result column="name" property="name"/>
        <!--        联合查询，级联属性封装结果集-->
        <!--        association可以指定联合的javaBean对象
                    property="emp"指定哪个属性是联合的对象
                    javaType指定这个属性对象的类型
        -->
        <!--        使用association定义关联的单个对象封装规则-->
        <association property="emp" javaType="com.dmu.hrms.bean.Emp">
            <id column="empid" property="id"/>
            <result column="empname" property="name"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <result column="birthday" property="birthday"/>
            <result column="IDCard" property="IDCard"/>
            <result column="wedlock" property="wedlock"/>
            <result column="nationId" property="nationId"/>
            <result column="nativePlace" property="nativePlace"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
            <result column="deptId" property="deptId"/>
            <result column="posId" property="posId"/>
            <result column="degree" property="degree"/>
            <result column="school" property="school"/>
            <result column="edate" property="edate"/>
            <result column="workState" property="workState"/>
            <result column="workID" property="workID"/>
            <result column="conversionTime" property="conversionTime"/>
            <result column="workAge" property="workAge"/>
            <result column="notWorkDate" property="notWorkDate"/>
            <result column="chanDeptState" property="chanDeptState"/>
            <result column="chanPosState" property="chanPosState"/>
            <result column="converseState" property="converseState"/>
        </association>
        <association property="position" javaType="com.dmu.hrms.bean.Position">
            <id column="positionid" property="id"/>
            <result column="posname" property="name"/>
        </association>
    </resultMap>
    <select id="getDeptById" resultType="com.dmu.hrms.bean.Dept">
        select * from dept where id=#{id}
    </select>

    <select id="getAllDepts" resultType="com.dmu.hrms.bean.Dept">
        select * from dept
    </select>

    <delete id="deleteDeptById">
        delete from dept where id=#{id}
    </delete>

    <insert id="addDept" parameterType="com.dmu.hrms.bean.Dept">
        insert into dept(name) values(#{name})
    </insert>

    <update id="updateDept" parameterType="com.dmu.hrms.bean.Dept">
        update dept set name=#{name} where id=#{id}
    </update>

</mapper>
