<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmu.hrms.mapper.PositionMapper">
    <resultMap id="MyPos" type="com.dmu.hrms.bean.Position">
        <!--         指定主键列的封装规则  column：指定哪一列 property：指定对于的javaBean属性-->
        <!--        id 定义主键-->
        <id column="id" property="id"/>
        <!--        result 定义普通列封装规则-->

        <result column="name" property="name"/>
        <result column="did" property="did"/>

        <association property="emp" javaType="com.dmu.hrms.bean.Emp">
            <id column="eid" property="id"/>
            <result column="empname" property="name"/>
        </association>
        <association property="dept" javaType="com.dmu.hrms.bean.Dept">
            <id column="did" property="id"/>
            <result column="deptname" property="name"/>
        </association>
    </resultMap>
    <select id="getAllPosition" resultType="com.dmu.hrms.bean.Position">
        select * from position
    </select>
    <select id="getPositionById" resultType="com.dmu.hrms.bean.Position">
        select * from position where id=#{id}
    </select>
    <delete id="deletePositionById">
        delete from position where id=#{id}
    </delete>

    <insert id="addPosition" parameterType="com.dmu.hrms.bean.Position">
        insert into position (id, name, did) values (#{id}, #{name}, #{did})
    </insert>

    <update id="updatePosition" parameterType="com.dmu.hrms.bean.Position">
        update position set name=#{name}, did=#{did}
        where id=#{id}
    </update>


</mapper>
